</div>
</body>
<script src="../../resources/jquery/jquery-3.6.0.min.js"></script>
<script src="../../resources/js_bootstrap/bootstrap.bundle.min.js"></script>
<script src="../../resources/js_bootstrap/bootstrap.min.js"></script>
</html>