<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css_bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css_bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css_bootstrap/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/pagenotfound.css" />
</head>