<div class="container p-3">
    <h6 class="text-center text-info font-weight-bolder">Főnix Szállító</h6>
</div>
<form id="fonixForm" action="" method="post">
    <div class="form-group table-responsive px-5">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="thead-light">
                <th class="border-info text-info text-center p-1" colspan="3"></th>
                <th class="border-info text-info text-center p-1"></th>
                <th class="border-info text-info text-center p-1"></th>
                <th class="border-info text-info text-center p-1"></th>
                <th class="border-info text-info text-center p-1"></th>
                <th class="border-info text-info text-center p-2" colspan="1"><input type="checkbox" name="all" id="all" onclick="osszesToggle(this)"></th>
                <th class="border-info text-info text-center p-0" colspan="1">
                    <input class="btn btn-outline-info btn-light p-1" type="button" name="toogle" id="lenyitas" value="Összes lenyitása" onclick="osszLenyit();"/>
                    <input class="btn btn-outline-info btn-light p-1" type="button" name="toogle" id="becsukás" value="Összes becsukása" onclick="osszBezar();"/>
                </th>
            </tr>
            </thead>
            <tbody class="border">
            <(tableData)>
            </tbody>
        </table>
    </div>
</form>